{% extends "meals/base.html" %}
{% block content %}

{% if empty %}
<h2 style="text-align:center;">{{ empty_message }}</h2>

{% else %}

<h1>Shopping Cart:</h1>

{% if cart.meals.count > 0 %}
<table class="table">
    <thead>
        <th>Meal</th>
        <th></th>
        <th></th>
    </thead>
    {% for meal in cart.meals.all %}
    <tr>
        <td>{{ meal.name }}</td>
        <td></td>
        <td><a class="float-right" href="{% url 'update-meal-cart' meal.id %}">Remove</a></td>
    </tr>
    {% endfor %}

</table>
{% endif %}

{% if cart_items.count > 0 %}
<table class="table table-hover">
    <thead>
        <th>Ingredient</th>
        <th>Aisle</th>
        <th></th>
    </thead>

    {% for item in cart_items.all %}
    <tbody>
        <tr data-toggle="collapse" data-target="#accordion{{ item.ingredient.id }}" class="clickable">
            <td>{{ item.ingredient.name }} {% if item.quantity > 1 %} (Qty: {{ item.quantity }})
                {% endif %}</td>
            <td>{{ item.ingredient.aisle|floatformat }}</td>
            <td><a class="float-right" href="{% url 'remove-ing-cart' item.ingredient.id %}">Remove</a></td>
        </tr>
        <tr class="hiddenRow">
            <td colspan="3" class="hiddenRow">
                <div id="accordion{{ item.ingredient.id }}" class="collapse"><span class="tab-1">Hidden by
                        default<br>Hidden by default</span>
                </div>
            </td>
        </tr>
    </tbody>
    {% endfor %}

</table>
{% endif %}


<!-- {% if cart_items.count > 0 %}
<table class="table">
    <thead>
        <th>Ingredient</th>
        <th>Aisle</th>
        <th></th>
    </thead>
    {% for item in cart_items.all %}
    <tr>
        <td>{{ item.ingredient.name }} {% if item.quantity > 1 %} (Qty: {{ item.quantity }}) {% endif %}</td>
        <td>{{ item.ingredient.aisle|floatformat }}</td>
        <td><a class="float-right" href="{% url 'remove-ing-cart' item.ingredient.id %}">Remove</a></td>
    </tr>
    {% endfor %}

</table>
{% endif %} -->

{% endif %}

{% endblock content %}