<div class="container border">
    <br>

    <div class="container text-center">
        <div class="btn-group" role="group">
            {% for date_item in date_list %}
            <label class="btn-group">
                <a href="{% url 'select-cart' forloop.counter0 %}"
                    class="btn {% if forloop.counter0 == request.session.selected_week %}btn-primary{% else %}btn-outline-primary{% endif %}"
                    role="button">{{ date_item|safe|escape }}</a>
            </label>
            {% endfor %}
        </div>
    </div>
    <br>
</div>