{% extends "meals/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <article class="content-section d-flex">
        <img class="rounded-circle article-img" src="{{ object.image.url }}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="me-2" href="#">{{ object.name }}</a>
                <div>
                    </br>
                    <!-- <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'meal-update' object.id %}">Update</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'meal-delete' object.id %}">Delete</a> -->
                </div>
            </div>
            <p class="article-content">{{ object.notes }}</p>

            Ingredients:
            <div class="form-check">
                {% for ing in ing_list %}
                <input
                    class="form-check-input"
                    type="checkbox"
                    name="ingtoadd"
                    value="{{ ing.id }}"
                    id="ing_{{ ing.id }}"
                    {% if ing.auto_add %}checked{% endif %}
                >
                <label class="form-check-label" for="ing_{{ ing.id }}">
                    {{ ing.name }}
                </label></br>
                {% endfor %}
            </div>
            <div>
                </br>
                <button class="btn btn-outline-primary btn-sm" type="button"
                    onclick="javascript:history.back()">Back</button>
                <button class="btn btn-outline-primary btn-sm" type="submit">Add to Cart</button>
            </div>
        </div>
    </article>

</form>

{% endblock content %}
{% block javascript %}
{% endblock javascript %}