{% load static %}
<!DOCTYPE html>
<html>

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <link href="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/css/tom-select.css" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="{% static 'css/site.css' %}">

  {% if title %}
  <title>Django Meals - {{ title }}</title>
  {% else %}
  <title>Django Meals</title>
  {% endif %}
</head>

<body data-bs-theme="{{ theme }}">
  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      <div class="container">
        <a class="navbar-brand me-4" href="{% url 'meals-home' %}">Django Meals</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
          aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav me-auto">
            <a class="nav-item nav-link" href="{% url 'meals-home' %}">Meals</a>
            <a class="nav-item nav-link" href="{% url 'ingredients-home' %}">Ingredients</a>
            <a class="nav-item nav-link" href="{% url 'store-list' %}">Stores</a>
          </div>

          <!-- Navbar Middle -->
          <form method="GET">
            <div class="navbar-nav me-auto">
              <label class="nav-item nav-link" for="stores">Store:</label>

              <select
                class="form-select"
                name="stores"
                id="stores"
                onchange="this.form.submit()"
              >
                {% for store in all_stores %}
                  <option value="{{ store.id }}"
                    {% if store.id == request.session.def_store %}selected{% endif %}
                  >
                    {{ store.name }}
                  </option>
                {% endfor %}
              </select>

            </div>
          </form>

          <!-- Navbar Right Side -->
          <div class="navbar-nav">
            {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
            <a class="nav-item nav-link" href="{% url 'logout_confirm' %}">Logout</a>
            <a class="nav-item nav-link" href="{% url 'cart-list' %}">Cart <span class="badge bg-primary">
                {{ request.session.items_total }}</span></a>
            {% else %}
            <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
            <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-8">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
      </div>
      <div class="col-md-4">
        <div class="content-section">
          <h3>Our Sidebar</h3>
          <div class="list-group">
            <a href="{% url 'meal-create' %}" class="list-group-item list-group-item">New Meal</a>
            <a href="{% url 'ingredients-create' %}" class="list-group-item list-group-item">New Ingredient</a>
            <a href="{% url 'store-create' %}" class=" list-group-item list-group-item">New Store</a>
            <a href="{% url 'metrics-home' %}" class=" list-group-item list-group-item">Metrics</a>
          </div>
        </div>
      </div>
    </div>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCVPA2h6YDm6CM0Yl1N3K7E" 
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/tom-select@2.3.1/dist/js/tom-select.complete.min.js"></script>

  {% block javascript %}
  {% endblock %}

</body>

</html>