{% extends "meals/base.html" %}
{% block content %}
<article class="media content-section">
  <img class="rounded-circle article-img" src="">
  <div class="media-body">
    <div class="article-metadata">
      <div>
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'store-update' object.id %}">Update</a>
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'store-delete' object.id %}">Delete</a>
      </div>
    </div>
    <h2 class="article-title">{{ object.name }}</h2>
    <h4 class="article-title">{{ object.address }}</h4>
    <h4 class="article-title">{{ object.city }}, {{ object.state }} {{ object.zip_code }}</h4>
    <p class="article-content">{{ object.address|floatformat }}</p>
  </div>
</article>

{% endblock content %}