{% extends "meals/base.html" %}
{% block content %}

<input type="text" id="myInput" placeholder="Search for Ingredients.." title="Type in a Ingredient" maxlength="50"
    class="textinput textInput form-control">
</br>

<table class="table">
    <thead>
        <th>Ingredient</th>
        <th>Aisle</th>
        <th>Auto Add Item</th>
        <th></th>
    </thead>

    <tbody id="myTable">
        {% for ingredient in object_list %}

        <tr>
            <td><a class="mr-2" href="{% url 'ingredients-detail' ingredient.id %}">{{ ingredient.name }}</a></td>
            <td>{{ ingredient.aisle|floatformat }}</td>
            <td>{{ ingredient.auto_add }}</td>
            <td class="text-center"><a href="{% url 'update-ing-cart' ingredient.id %}">
                    {% if ingredient.added %}Add++{% else %}Add to Cart{% endif %}
                </a></td>
        </tr>

        {% endfor %}
    </tbody>
</table>

{% endblock content %}

{% block javascript %}

<script>
    $(function () {
        $("#myInput").focus();
    });

    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });

        });

        $("#myInput").on("keyup", function (e) {
            if (e.keyCode === 13) {
                // Do something
                $(this).select();
            }
        });
    });

</script>

{% endblock javascript %}