{% extends "meals/base.html" %}
{% block content %}
<article class="media content-section">
  <img class="rounded-circle article-img" src="">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ object.name }}</a>
      <a class="float-right" href="{% url 'update-ing-cart' object.id %}">
        {% if ing_in_cart %}Add++{% else %}Add to Cart{% endif %}
      </a>
      <div>
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'ingredients-update' object.id %}">Update</a>
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'ingredients-delete' object.id %}">Delete</a>
      </div>
    </div>
    <h2 class="article-title">{{ object.name }}</h2>
    <p class="article-content">{{ object.aisle|floatformat }}</p>
  </div>
</article>

{% if meals %}
<article class="media content-section">
  <table class="table">
    <thead>
      <th></th>
      <th>Meal</th>
      <th></th>
    </thead>

    <tbody id="myTable">

      {% for meal in meals %}

      <tr>
        <td><img class="rounded-circle article-img" src="{{ meal.image.url }}"></td>
        <td><a class="mr-2" href="{% url 'meal-detail' meal.id %}">{{ meal.name }}</a></td>
        <td><a class="float-right" href="{% url 'meal-addtocart' meal.id %}">Add to Cart</a></td>
      </tr>

      {% endfor %}

    </tbody>
  </table>
</article>
{% endif %}

{% endblock content %}