services:

  traefik:
    image: traefik:v3.6.5
    container_name: traefik
    restart: unless-stopped
    command:
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
    ports:
      - "80:80"
      - "443:443"
    environment:
      - CLOUDFLARE_DNS_API_TOKEN=${TRAEFIK_CF_API_TOKEN}   # must have DNS edit permission
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ../traefik/traefik.yml:/etc/traefik/traefik.yml:ro
      - ../traefik/acme.json:/acme.json
      - ../traefik/dynamic:/etc/traefik/dynamic:ro
    networks:
      - public

  web:
    image: ghcr.io/sshoemake/meal_project:latest
    restart: always
    env_file: .env.prod
    depends_on:
      - db
    networks:
      - public
      - internal
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=public"
      - "traefik.http.routers.web.rule=Host(`sshoemake.com`) || Host(`www.sshoemake.com`)"
      - "traefik.http.routers.web.entrypoints=websecure"
      - "traefik.http.routers.web.tls=true"
      - "traefik.http.routers.web.tls.certresolver=letsencrypt"
      - "traefik.http.routers.web.middlewares=security-headers@file"
      - "traefik.http.services.web.loadbalancer.server.port=8000"
      - "traefik.http.services.web.loadbalancer.server.scheme=http"

  db:
    image: postgres:18
    container_name: myapp-db
    restart: always
    env_file: .env.prod
    volumes:
      - pg_data:/var/lib/postgresql/18/docker
    networks:
      - internal
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

networks:
  public:
  internal:
    internal: true

volumes:
  pg_data:
