{% extends "meals/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}

  <article class="content-section d-flex">
    <img class="rounded-circle article-img" src="">
    <div class="media-body">
      <div class="article-metadata">
        <a class="me-2" href="#">{{ object.name }}</a>
        <a class="float-end" href="{% url 'update-ing-cart' object.id %}">
          {% if ing_in_cart %}Add++{% else %}Add to Cart{% endif %}
        </a>
        <div>
          <a class="btn btn-secondary btn-sm" href="{% url 'ingredients-update' object.id %}">Update</a>
          <a class="btn btn-danger btn-sm" href="{% url 'ingredients-delete' object.id %}">Delete</a>
        </div>
      </div>
      <h2 class="article-title">{{ object.name }}</h2>

      <div class="surface">
        <table class="table">
          <thead>
            <th style="width:10%;"></th>
            <th style="width:25%;">Store</th>
            <th style="width:25%;">Aisle</th>
            <th style="width:40%;"></th>
          </thead>

          <tbody id="myTable">

            {% for sa in store_aisles %}

            <tr>
              <td></td>
              <td><input class="form-control" type="hidden" name="Store_ids" value="{{ sa.id }}">{{ sa }}</td>
              <td><input class="form-control" type="text" name="Aisles" value="{{ sa.ing_store_aisle|default_if_none:'' }}"></td>
              <td></td>
            </tr>

            {% endfor %}

          </tbody>
        </table>
      </div>

      <div>
        <button class="btn btn-outline-primary btn-sm" type="submit">Save</button>
      </div>

    </div>
  </article>

</form>

{% if meals %}
<article class="media content-section">
  {% include "meals/includes/partial_meal_list.html" %}
</article>
{% endif %}

{% endblock content %}