{% extends "meals/base.html" %}
{% block content %}

{% include "meals/includes/partial_cart_selector.html" %}
<br>

{% if empty %}
<h2 style="text-align:center;">{{ empty_message|default:"Your cart is empty." }}</h2>

{% else %}

<h1>Shopping Cart:</h1>

<form action="" method="post">
    {% csrf_token %}
    <div class="form-check mb-2">
        <input
            class="form-check-input"
            type="checkbox"
            id="hide_found"
            name="hide_found"
            onChange="this.form.submit()"
            {% if request.session.hide_found %}checked{% endif %}
        >
        <label class="form-check-label" for="hide_found">
            Hide found items?
        </label>
    </div>

    <div class="form-check mb-2">
        <input
            class="form-check-input"
            type="checkbox"
            id="reverse_sort"
            name="reverse_sort"
            onChange="this.form.submit()"
            {% if request.session.reverse_sort %}checked{% endif %}
        >
        <label class="form-check-label" for="reverse_sort">
            Reverse Sort
        </label>
    </div>

    {% if cart.meals.count > 0 %}
    <div class="surface">
        <table class="table">
            <thead>
                <th>Meals ({{ cart.meals.count }})</th>
                <th></th>
                <th></th>
            </thead>
            {% for meal in cart.meals.all %}
            <tr>
                <td>{{ meal.name }}</td>
                <td></td>
                <td><a class="float-end" href="{% url 'update-meal-cart' meal.id %}">Remove</a></td>
            </tr>
            {% endfor %}

        </table>
    </div>
    {% endif %}

    {% if cart_items.count > 0 %}
    <div class="surface">
        <table id="ingredients" class="table table-hover">
            <thead>
                <th>Ingredients ({{ cart_items.count }})</th>
                <th>Aisle</th>
                <th></th>
            </thead>

            {% for item in cart_items.all %}
            {% if not request.session.hide_found or request.session.hide_found and not item.found %}
            <tbody>
                <tr data-bs-toggle="collapse" id="ing{{ item.ingredient.id }}" data-bs-target="#accordion{{ item.ingredient.id }}"
                    class="clickable">
                    <td>{{ item.ingredient.name }} {% if item.quantity > 1 %} (Qty: {{ item.quantity }})
                        {% endif %}</td>
                    <td>{{ item.ing_store_aisle|floatformat }}</td>
                    <td>
                        {% if request.session.hide_found and not item.found %}
                        {% url 'found-ing-cart' item.ingredient.id as the_url %}
                        <a class="float-end" onclick="hideItem('{{ the_url }}', 'ing{{ item.ingredient.id }}')"
                            href="javascript:void(0)">Hide</a>
                        {% else %}
                        <a class="float-end" href="{% url 'remove-ing-cart' item.ingredient.id %}">Remove</a>
                        {% endif %}
                    </td>
                </tr>
                <!--             <tr class="hiddenRow">
                    <td colspan="3" class="hiddenRow">
                        <div id="accordion{{ item.ingredient.id }}" class="collapse"><span class="tab-1">Hidden by
                                default<br>Hidden by default</span>
                        </div>
                    </td>
                </tr> -->
            </tbody>
            {% endif %}
            {% endfor %}

        </table>
    </div>
    {% endif %}

</form>

{% endif %}

{% endblock content %}
{% block javascript %}
<script type="text/javascript">

    function hideItem(url, item) {

        $.ajax({
            type: "POST",
            url: url,
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function () {
                var row = document.getElementById(item);
                if (row.style.display == '') {
                    row.style.display = 'none';
                }
            }

        });

    }

</script>
{% endblock javascript %}