{% extends "meals/base.html" %}
{% block content %}

{% include "meals/includes/partial_cart_selector.html" %}
<br>

{% if empty %}
<h2 style="text-align:center;">{{ empty_message }}</h2>

{% else %}

<h1>Shopping Cart:</h1>

<form action="" method="post">
    {% csrf_token %}
    <input type="checkbox" name="hide_found" onChange="this.form.submit()" {% if request.session.hide_found %}
        checked="checked" {% endif %}> Hide found items?<br>

    {% if cart.meals.count > 0 %}
    <table class="table">
        <thead>
            <th>Meals ({{ cart.meals.count }})</th>
            <th></th>
            <th></th>
        </thead>
        {% for meal in cart.meals.all %}
        <tr>
            <td>{{ meal.name }}</td>
            <td></td>
            <td><a class="float-right" href="{% url 'update-meal-cart' meal.id %}">Remove</a></td>
        </tr>
        {% endfor %}

    </table>
    {% endif %}

    {% if cart_items.count > 0 %}
    <table id="ingredients" class="table table-hover">
        <thead>
            <th>Ingredients ({{ cart_items.count }})</th>
            <th>Aisle</th>
            <th></th>
        </thead>

        {% for item in cart_items.all %}
        {% if not request.session.hide_found or request.session.hide_found and not item.found %}
        <tbody>
            <tr data-toggle="collapse" id="ing{{ item.ingredient.id }}" data-target="#accordion{{ item.ingredient.id }}"
                class="clickable">
                <td>{{ item.ingredient.name }} {% if item.quantity > 1 %} (Qty: {{ item.quantity }})
                    {% endif %}</td>
                <td>{{ item.ing_store_aisle|floatformat }}</td>
                <td>
                    {% if request.session.hide_found and not item.found %}
                    {% url 'found-ing-cart' item.ingredient.id as the_url %}
                    <a class="float-right" onclick="hideItem('{{ the_url }}', 'ing{{ item.ingredient.id }}')"
                        href="javascript:void(0)">Hide</a>
                    {% else %}
                    <a class="float-right" href="{% url 'remove-ing-cart' item.ingredient.id %}">Remove</a>
                    {% endif %}
                </td>
            </tr>
            <!--             <tr class="hiddenRow">
                <td colspan="3" class="hiddenRow">
                    <div id="accordion{{ item.ingredient.id }}" class="collapse"><span class="tab-1">Hidden by
                            default<br>Hidden by default</span>
                    </div>
                </td>
            </tr> -->
        </tbody>
        {% endif %}
        {% endfor %}

    </table>
    {% endif %}

</form>

{% endif %}

{% endblock content %}
{% block javascript %}
<script type="text/javascript">

    function hideItem(url, item) {

        $.ajax({
            type: "POST",
            url: url,
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            success: function () {
                var row = document.getElementById(item);
                if (row.style.display == '') {
                    row.style.display = 'none';
                }
            }

        });

    }

</script>
{% endblock javascript %}